/* General */
body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;

}
h1 {
    color: white;
}

h2, h3 {
    color: black;
}


#title-header{
    background-image: url("../images/psych_pineapple.jpg");
    background-size: 50%;
}
#start-button{
    float: left;
}
#transparent{
    background-color:white;
    fill-opacity: initial;
}
#quiz-area{
    opacity: 1;
    background-image: url("../images/psych\ background.jpeg");
}




/* header */


/* start page with buttons */


/* the actual quiz */

/* The update page */
