/* General */
body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#title-header{
    background-image: url("../images/psych\ background.jpeg");
    background-size: 130%;
}
#start-button{
    float: left;
}
#transparent{
    background-color:white;
    opacity: .8;
    fill-opacity: initial;
}
#quiz-area{
    opacity: 1;
}




/* header */


/* start page with buttons */


/* the actual quiz */

/* The update page */
